/* !!!!!!!!!!!   FEATURES       !!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/


.features__item {
    max-width: 450px;
    
    @media screen and (min-width:760px) {
    max-width: 354px;
    width: calc((100% - 30px)/2);
    }

    @media screen and (min-width:1200px) {
    max-width: 270px;
    width: calc((100% - 90px)/4);
    }
   
}
.features__title {
    line-height: 1.15;
    text-transform: uppercase;
    color: $titleTextColor;

    margin-bottom: 10px;
}

.features__text {
    line-height: 1.71;
}


.features__frame {
    min-height: 120px; 
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    background-color: #F5F4FA;

   

}



