/* !!!!!!!!!!!   FEATURES       !!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/


.features__item {
    // width: calc((100%-90px)/4);
    @media screen and (max-width:768px) {
            width: 100%;
        }
    
        @media screen and (min-width:760px) and (max-width:1000px) {
            flex-basis: 50%;
        }
   
}
.features__title {
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--title-text-color);

    margin-bottom: 10px;
}

.features__text {
        line-height: 1.71;
}


.features__frame {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    max-width: 270px;
    height: 120px;

    background-color: #F5F4FA;

    @media screen and (max-width:760px) {
        max-width: 450px;
        height: 120px;
    }
        
    @media screen and (min-width:760px) and (max-width:1000px) {
        flex-wrap: wrap;
    }

}



