/* !!!-------------footer-----------!!!! */
.footer {
    background-color: $sectionBackgroundColor;

    padding-top: 60px;
    padding-bottom: 60px;
    
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-items: baseline;
    
    gap: 60px;

    @media screen and (max-width:767px) {
        flex-direction: column;
    }
    @media screen and (min-width:768px) {
            flex-wrap: wrap;
            justify-content: space-around;
            
        
        }

    @media screen and (min-width:1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }

}

.footer__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.footer__logo {
    color: $lightTextColor;
    display: block;
    margin-bottom: 20px;
}

.footer__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $lightTextColor;

    margin-bottom: 20px;
}


.footer__link {
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: color $commonTransition;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

