/* !!!!!!!!!!!-------header--------!!!!!!!!!!!!!!!!*/
.header {
    height: 60px;

    border-bottom: 1px solid #ECECEC;
    padding: 16px 0;
        
    @include tablet {
        padding: 21px 0;

        height: 80px;
        }
    @include desktop {
            padding: 24px 0;
        }
}

.header__container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}



