/* !!!!!!---------hero-----------!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.hero {
    padding: 118px 0;
    margin: 0 auto;

    
    height: 400px;

    background-repeat: no-repeat;
    background-color: #c4c4c4;
    background-image: $heroBgGradient, url(../images/hero/bg-mob.png);
    background-size:cover;
    background-position: center;
    max-width: 480px;

    @include retina {
            background-image: $heroBgGradient, url(../images/hero/bg-mob2x.png);
        }
    

  
    
    @include tablet {
            max-width: 768px;

            background-image: $heroBgGradient, url(../images/hero/bg-tab.png);
            @include retina {
            background-image: $heroBgGradient, url(../images/hero/bg-tab2x.png);
            }
        }
    
    @include desktop {
            padding: 200px 0;
            max-width: 1600px;
            height: 600px;

            background-image: $heroBgGradient, url(../images/hero/bg-dt.png);
            @include retina {
                background-image: $heroBgGradient, url(../images/hero/bg-dt2x.png);
            }
        }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $lightTextColor;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;

    
    @include desktop{
            font-size: 44px;
            line-height: 1.36;
            max-width: 696px;
        }
}

.hero__button{
    width: 200px;
    &:hover,
    &:focus {
        color: $accentColor;
        background-color: $backgroundColor;
    }
    @include desktop {
         width: 216px;
    }
}



