.connect {
    display: none;

    @include tablet {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items:flex-start;
        }
    @include desktop {
            flex-direction: row;
            gap: 50px;
            align-items: center;
        }
}

.connect__link {
    color: $plainTextColor;
    font-size: 12px;
        
    &:hover,
    &:focus {
            color: $accentColor;
        }

    @include tablet {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    
    @include desktop {
            gap: 10px;
            font-size: 14px;
        }
}


.connect__icon {
    width: inherit;
    height: inherit;

    fill: $plainTextColor;

    transition: fill $commonTransition;

    .connect__link:hover &,
    .connect__link:focus & {
        fill: $accentColor;
    }
}

.connect__icon--mail{
    width: 14px;
    height: 10px;
    @include desktop{
        width: 16px;
        height: 12px;
    }
}

.connect__icon--mobile{
    width: 10px;
    height: 14px;
    @include desktop{
        width: 10px;
        height: 16px;
    }
}