.navigation {
    
    display: flex;
    align-items: center;
    // height: 28px;
    
    @include tablet {
            gap: 87px; 
        }
    
    @include desktop {
            gap: 93px;
            // height: 31px;
        }
}