.section {
    padding: 60px 0;
    @include desktop{
        padding: 94px 0;
    }
}

.section__title {
    
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: $titleTextColor;

    margin-bottom: 50px;
    @include desktop{
        font-size: 36px;
    }
}


// @mixin mobile {
//     @media screen and (min-width:320px) {
//         @content;
//     }
// }

// @mixin tablet {
//     @media screen and (min-width:768px) {
//         @content;
//     }
// }

// @mixin desktop {
//     @media screen and (min-width:1280px) {
//         @content;
//     }
// }

// .section{
//     border: 1px solid red;
//     padding: 20px 0;
//     @include tablet{
//         padding: 60px 0;
//     }
// }

